
/* 
    font-family: 
    'Exo 2', 
    sans-serif;

    font-family:
    'Montserrat', 
     sans-serif;

    **font name reference for later**
*/



:root{
    --heading:
    'Montserrat',
    sans-serif;
}

body{
    font-family: 
    'Exo 2',
    sans-serif;
    background: #fff ;

}

/*global styling */


img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: 
    none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */


.top-head{
    display: flex;
    justify-content: 
    space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem /* font will always equal to double parent font-size*/;
    cursor: pointer;
}

/****js styling******/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;

}
.show-nav{
    height: auto;
}

/***********************/

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s
    ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: 
    uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: 
    underline;
}



@media(min-width: 1050px)
{
    /*nav*/
    /*responsive design when sizing browsing window*/
    .ham-btn, .times-btn{
        display:
        none!important;
}

    /*website name centers when window expands */
.navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
}

    /*condenses centered website name when window expands 
    (nav bar disappears), when window gets smaller website 
    name gets expanded with drop down display*/
.top-head{
        flex: 0 0 auto;
}
    
    /*nav bar options appear when window expands
    with website name to left now, nav bar options
    disappears when minimized and functional 
    nav bar drop down appears*/
.nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
}
    
    /*nav options centered*/
.nav-bar nav ul{
        display: flex;
        justify-content: center;
}

    /*nav options appear then 
    hover as you expand window*/
.nav-bar nav ul li{
        padding-right: 30px;
}

.nav-bar nav ul li:hover{
        background: none;
}
    
}

#login-form
{
    display: none;
}
#reset-form
{
	display:inline;
}
.form-box
{
    width:380px;
	height:500px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.reset-box
{

}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.reset-box
{
	width:110px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 90px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}

#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -35px;
  
}
#message p {
  padding: 10px 35px;
  font-size: 18px;
}
